html, body{

    height: 100%;
    margin: 0;

}

body, h1, h2, h3, h4, h5, h6  {
    font-family: Verdana, Arial, sans-serif;
}

.spacing-gap {

    margin-top: 50px;

}


.custom-button {
    background-color: white;
    border: 2px solid black;
    color: black;
    padding: 5px;
}

@media (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 720px;
    }
}
@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 540px;
    }
}